In [20]:
num1 = float(input('Enter the first number:'))
num2 = float(input('Enter the second number:'))

num3 = num1 * num2

print(f'the multiplication of two number as {num1} and {num2} is' ,num3)

the multiplication of two number as 10.0 and 2.0 is 20.0

## INTRODUCTION

In [2]:
# Data type used in python programming

''' 
1.int: Integer
2.float: decimal values
3.string: text information
4.boolean: true or false
'''
# data type defination
num = 100
num1 = 100.32 # float Value
str = 'hello world'
boolean = True
boolean1 = False
# = : assignment operator

In [3]:
print(num)

100

In [4]:
print('num')

num

In [5]:
num + num1

200.32

In [12]:
a = '12345'
b= '56789'
c = 5

print(a+b)
print(a*c)

1234556789
1234512345123451234512345

In [13]:
# input function input value hamesha string deta hai
num1 = input('Enter the first number :')
num2 = input('Enter the second number :')

print(num1 + num2)

102

In [ ]:
# use typecasting : convert str to int 
num1 = int (input('Enter the first number :'))
num2 = int (input('Enter the second number :'))

print(num1 + num2)

30

In [ ]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

print(num1 + num2)

13.645

In [17]:
# f string method
name = input('enter the name :')
age = float(input('enter the age in year:'))

print(f'The Entered name of the person is {name} having age is {age}')

The Entered name of the person is RATANDEEP having age is 24.0